@charset "UTF-8";

/* ベースのスタイル
------------------------------------------ */
body {
  font-family: 'Noto serif JP', sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul {
  list-style: none;
}

/* 部品 ボタン
------------------------------------------ */
main {
  display: block;
}

.button {
  display: block;
  text-align: center;
  border-radius: 3rem;
}

.button--blue {
  width: 100%;
  padding: 1rem 3.8125rem 1rem;
  background-color: #46C4DB;
  font-size: 1.125rem;
  color: #fff;
  font-weight: 500;
  line-height: calc(26 / 18);
  margin-bottom: 1.25rem;
  letter-spacing: -0.075rem;
}

@media (min-width: 768px) {
  .button--blue {
    width: 300px;
    margin-bottom: 0;
    margin-right: 2rem;
  }
}

.button--green {
  width: 100%;
  padding: 1rem 3.8125rem 1rem;
  background-color: #5DD5AB;
  font-size: 1.125rem;
  color: #fff;
  font-weight: 500;
  line-height: calc(26 / 18);
  letter-spacing: -0.075rem;
}

@media (min-width: 768px) {
  .button--green {
    width: 300px;
  }
}

/* ヘッダー
------------------------------------------ */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  text-align: center;
  padding-top: 24px;
}

@media (min-width: 768px) {
  .header {
    padding-top: 2rem;
  }
}

/* ロゴ */
h1 {
  font-family: "Marcellus", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: calc(30 / 24);
  letter-spacing: 0.325rem;
  color: #000;
}

@media (min-width: 768px) {
  h1 {
    font-size: 1.75rem;
    line-height: calc(35 / 28);
  }
}

/* カバー
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
.cover {
  padding-bottom: 9.8125rem;
}

@media (min-width: 768px) {
  .cover {
    padding-bottom: 3rem;
  }
}

.cover__contents-width {
  background-image: url(/assets/image/cover_sp01.png);
  background-position: 59% 61%;
  height: 450px;
}

@media (min-width: 768px) {
  .cover__contents-width {
    background-image: url(/assets/image/cover_pc01.png);
    height: 720px;
    background-position: 61% 61%;
    max-width: 93.75rem;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .cover__contents {
    max-width: 75rem;
    margin: 0 auto;
  }
}

.cover__contents--box {
  display: flex;
  flex-direction: column;
  padding-top: 26.2375rem;
  padding-left: 1.4375rem;
}

@media (min-width: 768px) {
  .cover__contents--box {
    padding-top: 17rem;
    padding-left: 0.5375rem;
  }
}

.cover__wrapper-text--title {
  font-family: "Marcellus", sans-serif;
  font-size: 2.5625rem;
  font-weight: 400;
  color: #000;
  line-height: calc(51 / 41);
  letter-spacing: 10px;
}

@media (min-width: 768px) {
  .cover__wrapper-text--title {
    font-size: 3.125rem;
    line-height: calc(68 / 50);
  }
}

.cover__wrapper-text--catch {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: calc(29 / 20);
  letter-spacing: 0.225rem;
  color: #707070;
}

@media (min-width: 768px) {
  .cover__wrapper-text--catch {
    font-size: 1.5625rem;
    line-height: calc(36 / 25);
  }
}

/* 問い合わせ
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
.btn-container {
  padding: 0 1rem 3.125rem;
}

@media (min-width: 768px) {
  .btn-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 3rem 1rem 3rem;
  }
}

.btn-container__box {
  background-color: #F0F4FF;
  padding: 1.25rem 1.8125rem 2.125rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}

@media (min-width: 768px) {
  .btn-container__box {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 2.75rem 0 2.75rem;
  }
}

.btn-container__text-box {
  text-align: center;
}

@media (min-width: 768px) {
  .btn-container__text-box {
    text-align: left;
  }
}

.btn-container__text {
  font-size: 1.125rem;
  font-weight: 500;
  color: #111;
  line-height: calc(26 / 18);
  letter-spacing: 0.125rem;
}

@media (min-width: 768px) {
  .btn-container__text {
    font-size: clamp(1rem, 2vw, 1.5rem);
    line-height: calc(35 / 24);
  }
}

.btn-container__price {
  font-size: 0.875rem;
  font-weight: 400;
  color: #111;
  line-height: calc(20 / 14);
  letter-spacing: 0.125rem;
}

@media (min-width: 768px) {
  .btn-container__price {
    font-size: clamp(0.75rem, 1.5vw, 1rem);
    line-height: calc(23 / 16);
  }
}

.btn__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .btn__box {
    display: flex;
    flex-direction: row;
  }
}

/* PR
---------------------------------------------------*/
.pr__contents-width {
  background-image: url(/assets/image/pr_sp01.png);
  background-position: 50% 0%;
  height: 42.5rem;
}

@media (min-width: 768px) {
  .pr__contents-width {
    background-image: url(/assets/image/pr_pc01.png);
    background-position: 100% 50%;
    background-size: 135%;
    height: 34.375rem;
    max-width: 1500px;
    margin: 0 auto;
  }
}

.pr__contents {
  padding: 48px 16px 0;
}

@media (min-width: 768px) {
  .pr__contents {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 7.9375rem 15.125rem 7.9375rem 0;
  }
}

.pr__title {
  font-family: "EB Garamond", sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  color: #fff;
  line-height: calc(54 / 30);
  text-align: center;
}

@media (min-width: 768px) {
  .pr__title {
    font-size: 2.375rem;
    line-height: calc(54 / 38);
    padding-right: 0.8125rem;
  }
}

.pr__sub--title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  line-height: calc(54 / 24);
  text-align: center;
  margin-bottom: 1.25rem;
}

@media (min-width: 768px) {
  .pr__sub--title {
    margin-bottom: 0;
    padding-right: 15rem;
  }
}

.pr__text {
  font-size: 0.875rem;
  font-weight: 400;
  color: #fff;
  line-height: calc(32 / 14);
}

@media (min-width: 768px) {
  .pr__text {
    max-width: 26.8125rem;
  }
}

/* voice
---------------------------------------------------*/
.voice {
  padding: 50px 55px 50px;
}

.voice-container__title {
  display: flex;
  flex-direction: column;
}

.voice__title {
  font-family: "EB Garamond", sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  color: #000;
  line-height: calc(32 / 30);
  text-align: center;
}

.voice__sub-title {
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  line-height: calc(32 / 16);
  text-align: center;
  padding-bottom: 36px;
}



.voice-container--box {
  background-color: #DBF7F9;
  padding: 1.75rem 0.9375rem 1.75rem;
}

.voice__img {
  width: 50%;
  text-align: center;
  margin: auto;
  border-radius: 50%;
}

.voice_name {
  font-size: 0.875rem;
  font-weight: 400;
  color: #000;
  line-height: calc(32 / 14);
  text-align: center;
}

.voice_text {
  font-size: 0.875rem;
  font-weight: 400;
  color: #000;
  line-height: calc(28 / 14);
}

/* Slick矢印 */
.slide-arrow {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.prev-arrow {
  position: absolute;
  left: -50px;
  top: 193px;
}

.next-arrow {
  position: absolute;
  right: -50px;
  top: 193px;
}

/* Slickドット */
.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  top: 24.25rem;
  display: flex;
  column-gap: 0.5rem;
  justify-content: center;
}

.slick-dots li {
  width: 0.5625rem;
  height: 0.525rem;
  margin: 0;
}

.slick-dots li button {
  width: 0.525rem;
  height: 0.525rem;
  padding: 0;
  background-color: #EEE;
  border-radius: 50%;
}

.slick-dots li button::before {
  width: 0.525rem;
  height: 0.525rem;
  line-height: normal;
  border-radius: 50%;
  opacity: 0;
}

.slick-dots li button:hover::before,
.slick-dots li.slick-active button::before {
  color: #00AFBF;
  background-color: #00AFBF;
  opacity: 1;
}